{
  "plugins": [
    [
      "auto-import",
      {
        "declarations": [
          { "default": "React", "path": "react" },
          { "default": "ReactDOM", "path": "react-dom" }
        ]
      }
    ]
  ]
}
